.profilePicture {
  /* margin-right: auto;
  margin-left: auto; */
  width: 50%;
  height: 40%;
}

.linkIconsMainDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.linkIcons {
  width: 12%;
  height: 20%;
}

.myName {
  font-family: "Bungee Shade", cursive;
  font-size: 3em;
  font-weight: 700;
}

.myTitle {
  font-family: "Fira Sans", sans-serif;
  font-size: 2em;
}
.mediaP {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

/* .backgroundImage {
  background-image: url("../Assets/wilderness.jpeg");
} */

@media (max-width: 414px) {
  .mediaP {
    font-size: 20px;
    font-weight: 700;
    color: blue;
  }
  .profilePicture {
    height: 40%;
    width: 100%;
  }
}
