.profilePicture {
  /* margin-right: auto;
  margin-left: auto; */
  width: 50%;
  height: 40%;
}

.linkIconsMainContainer {
  width: 100%;
}

.aboutMeContainerText {
  width: 100%;
}

.anchorLinkIcons {
  width: 30%;
  height: 30%;
}
.linkIconsMainDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.linkIcons1 {
  width: 25%;
  height: 20%;
  padding-right: 10%;
}

.linkIcons2 {
  width: 25%;
  height: 20%;
}

.myName {
  font-family: "Bungee Shade", cursive;
  font-size: 3em;
  font-weight: 700;
}

.myTitle {
  font-family: "Fira Sans", sans-serif;
  font-size: 2em;
}
.mediaP {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
}

/* .backgroundImage {
  background-image: url("../Assets/wilderness.jpeg");
} */

@media (max-width: 414px) {
  .mediaP {
    font-size: 20px;
    font-weight: 700;
    font-family: "Fira Sans", sans-serif;
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
  }
  .profilePicture {
    height: 40%;
    width: 100%;
  }
}
