/* .NavContainer {
  overflow: scroll;
} */

nav {
  overflow: scroll;
}

.iconItem {
  height: 6%;
  width: 6%;
}

.links {
  text-decoration: none;
}

.navBarMainDiv {
  display: flex;
  /* justify-content: flex-end; */
  margin-left: 2%;
}

@media (max-width: 414px) {
  .iconItem {
    height: 15%;
    width: 20%;
  }

  .navBarMainDiv {
    display: flex;
    /* justify-content: flex-end; */
    margin-left: 3%;
    margin-top: 5%;
  }
}

@media (max-width: 740px) {
  .iconItem {
    height: 15%;
    width: 20%;
  }

  .navBarMainDiv {
    display: flex;
    /* justify-content: flex-end; */
    margin-left: 3%;
    margin-top: 5%;
  }
}
