/* .NavContainer {
  overflow: scroll;
} */

nav {
  overflow: scroll;
}

.iconItem {
  height: 6%;
  width: 6%;
}

.links {
  text-decoration: none;
}

.navBarMainDiv {
  display: flex;
  /* justify-content: flex-end; */
  margin-left: 2%;
}
