.projectsMainContainer {
  width: 100%;
  background-color: red;
}
.saveAPlateContainer {
  /* width: 100%; */
  /* height: 40%; */
  background-color: black;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  /* display: flex; */
}

.leftContainer {
  display: flex;
  /* justify-content: space-around; */
  /* float: left; */
  width: 40%;
  background-color: blue;
}

.rightContainer {
  /* display: flex; */
  /* justify-content: flex-end; */
  /* float: right; */
  width: 40%;
  background-color: yellow;
}

@media (max-width: 414px) {
  .saveAPlateContainer {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
  }
  .leftContainer {
    width: 35%;
  }
  .rightContainer {
    width: 35%;
  }
}
