.projectsMainGridContainer {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  justify-content: center;
  box-sizing: inherit;
}

.projectTitle {
  font-family: "Bungee Shade", cursive;
  font-size: 3em;
  font-weight: 700;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.projectNameForDiv {
  font-family: "Bungee Shade", cursive;
  font-weight: 700;
  font-size: 2em;
}
.innerParagraphText {
  font-size: 1.5em;
  text-align: justify;
  /* margin-top: 10%; */
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Fira Sans", sans-serif;
}

.saveAPlateImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.interestImg {
  width: 100%;
  height: 100%;
}

.weatherAppImg {
  width: 100%;
  height: 100%;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: lightblue;
  width: 100%;
  height: 100%;
}

.item3 {
  grid-column-start: 2;
  grid-column-end: 1;
  background-color: lightblue;
  width: 100%;
  height: 100%;
}

.item4 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.item5 {
  grid-row-start: 3;
  grid-row-end: 3;
}

.item6 {
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: lightblue;
  width: 100%;
  height: 100%;
}

@media (max-width: 414px) {
  .projectsMainGridContainer {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr;
    justify-content: center;
    box-sizing: inherit; */
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .item1 {
    /* grid-column-start: 1;
    grid-column-end: 1; */
    display: flex;
    width: 100%;
  }

  .item2 {
    /* grid-column-start: 1;
    grid-row-end: 2; */
    background-color: lightblue;

    width: 100%;
  }

  .item3 {
    /* grid-column-start: 3;
    grid-column-end: 1; */
  }
  .item4 {
    /* grid-row-start: 4;
    grid-column-end: 1; */
    background-color: lightblue;
  }

  .item5 {
    /* grid-row-start: 3;
    grid-column-end: 3; */
  }

  .item6 {
    /* grid-row-start: 3;
    grid-row-end: 4; */
    background-color: lightblue;
  }

  /* need to update item 5 and 6 for mobile here */
}
